.article-image {
  $size: 14;

  @include aspect-ratio(21, 9);
  @include small-only {
    width: 80vw;
    margin: 0 auto;
  }

  & > .container > .image > .rule-thirds,
  & > .container > .image > .zoom-menu {
    display: none;
  }

  &::before {
    padding: 0;
  }

  & > .container {
    position: relative;

    display: block;

    width: 70vw;
  }

  & > .container > .image {
    position: relative;
  }

  & > .container > .image > img {
    display: block;

    max-width: 70vw;
    height: auto;

    @include small-only {
      max-width: 80vw;
    }
  }

  & > .container > .info {
    width: 22vw;
    margin-top: 1vh;

    @include medium-only {
      width: 45vw;
    }

    @include small-only {
      width: 80vw;
    }
  }

  & > .container > .info > textarea {
    font-family: $font-family-open-sans;
    font-weight: $font-weight-regular;

    height: 1.25vw;
    padding: 0;

    resize: none;

    border: none;

    @include responsive-prop(font-size, $size, $size);
    @include responsive-prop(line-height, 18, 18);
    @include responsive-prop(letter-spacing, .3, .3);
  }

  & > .container > .info > textarea::-webkit-input-placeholder {
    font-style: italic;
  }

  & > .container > .info > .author::-webkit-input-placeholder {
    color: $color-light;
  }

  & > .container > .info > textarea::-moz-placeholder {
    font-style: italic;
  }

  & > .container > .info > .author::-moz-placeholder {
    color: $color-light;
  }

  & > .container > .info > textarea:-ms-input-placeholder {
    font-style: italic;
  }

  & > .container > .info > .author:-ms-input-placeholder {
    color: $color-light;
  }

  & > .container > .info > textarea:-moz-placeholder {
    font-style: italic;
  }

  & > .container > .info > .author:-moz-placeholder {
    color: $color-light;
  }

  & > .container > .info > .subtitle {
    color: $color-bullfrog;

    @include responsive-prop(margin-top, 18, 18);
  }

  & > .container > .info > .author {
    color: $color-light;

    @include responsive-prop(margin-top, 16, 16);
  }

  & > .typewriter-editor > .content a {
    color: $color-forest;
  }

  & > .typewriter-editor .placeholder {
    color: $color-light;
  }

  & > .container > .image > img {
    margin: 0 auto;
  }

  &.-selected > .container > .image {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor:         grab;
    cursor:    -moz-grab;
    cursor: -webkit-grab;
  }

  &.-selected > .container > .image:active {
    cursor:         grabbing;
    cursor:    -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &.-selected > .container > .image > .rule-thirds {
    display: grid;
  }

  &.-selected > .container > .image > .zoom-menu {
    display: flex;
  }

  &.-selected > .container > .image > img {
    outline: 4px solid $color-system;
  }
}
