.list-items {
  $size-date: $font-size-micro;
  $height: 36px;

  margin-top: 24px;
  margin-bottom: 100px;

  border-top: 1px solid $color-lavender-light;
  border-bottom: 1px solid $color-lavender-light;

  grid-column: 1 / 15;

  &.-not-found {
    width: 100%;

    text-align: center;

    border: none;
  }

  %list-item {
    display: grid;
    align-items: center;

    min-height: $height;
    padding: 32px 0;

    transition: all .15s ease-in-out;
    text-decoration: none;

    border-top: 1px solid $color-invisible;
    background-color: #FFF;
  }

  %list-item:hover {
    cursor: pointer;

    background-color: $color-invisible;
  }

  & > .item > *:first-child {
    grid-column: 2;
  }

  // generic rules

  & > .item .avatar {
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    line-height: 0;

    overflow: hidden;

    box-sizing: border-box;
    width: 48px;
    height: 48px;

    text-transform: uppercase;

    color: #FFF;
    border: 1px solid $color-fade;
    border-radius: 50%;
    background-size: cover;
  }

  & > .item .avatar img {
    max-width: 100%;
    height: auto;
  }

  & > .item .avatar.-empty {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: $color-system;
  }

  & > .item.-disabled > .avatar,
  & > .item.-disabled > .info,
  & > .item.-disabled > .status {
    opacity: .6;
  }
}
