.list-articles {

  $size-title: 18px;
  $size-date: $font-size-micro;
  $size-content: $font-size-base;

  @extend .list-items;

  & > .item {
    @extend %list-item;

    color: $color-light;

    grid-template-columns: $global-size-wrapper 1fr 4fr 1fr $global-size-wrapper;
  }

  & > .item > .content {
    font-size: $size-content;
    line-height: 26px;

    color: $color-night;
  }

  & > .item > .content > .date {
    font-size: $size-date;
    line-height: 16px;

    margin-bottom: 7px;

    letter-spacing: .5px;

    color: $color-light;
  }
}
