$color-system: #4F47FF;
$color-system-darker: #443DD5;
$color-background: #FBFCFD;

$color-lavender-light: #DBDFFE;
$color-lavender-medium: #B8B5FF;
$color-lavender-heavy: #7D7AB2;

$color-fire-light: #FEF6F6;
$color-fire-heavy: #E75153;

$color-intense: #ACBFC7;

$color-night: #2F2F2F;
$color-strong: #5F5F5F;
$color-medium: #838D8F;
$color-light: #9F9F9F;

$color-fade: #E5E6E8;
$color-invisible: #F5F7FE;

$color-bullfrog: #4B4B4B;
$color-forest: #00D476;
$color-aqua: #4BE7C3;
$color-apelsin: #FF4C06;
$color-blueberry: #1812D6;
