# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/yarn-error.log

.byebug_history

# OS files
.DS_Store

# personal files
todo.txt
todo.md

# external dependencies
node_modules/*
yarn_modules/*
gems/*

# docker-sync
.docker-sync

.env
test/dummy/.env
test/dummy/db/*.sqlite3

Gemfile.lock
