<!DOCTYPE html>
<html>
<head>
  <title>Typewriter</title>
  <%= stylesheet_link_tag    "typewriter/application", media: "all" %>
  <%= javascript_include_tag "typewriter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
