$color-whitesmoke: #F4F4F4;
$color-divisor: $color-whitesmoke;
$color-wall: $color-whitesmoke;
$color-light: #9F9F9F;
$color-darkgray: #979797;
$color-strong: #767676;
$color-bullfrog: #2B2B2B;

$color-fire-heavy: #E75153;
$color-brand: #6431E5;
$color-mistyrose: #F6C9C9;
$color-orange: #FF6B61;
$color-brand-strong: #1F00C6;
$color-darkorchid: #9C06B2;
$color-background: rgba(#D8D8D8, .1);
$color-crimson: #E21562;
$color-forest: #00D476;

$color-moment-inquietacao: #1A00C2;
$color-moment-caos: #F7174E;
$color-moment-abertura: #9C06B2;
$color-moment-preparacao: #FF6237;
$color-moment-mudanca: #00DADC;
