@mixin mask-image($image) {
          mask-image: url($image);
  -webkit-mask-image: url($image);
          mask-size: contain;
  -webkit-mask-size: contain;
          mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat-position: center;
  -webkit-mask-position: center;
}
