.hoverable-highlight {
  transition: all .2s cubic-bezier(.19, .01, .03, 1.01);
  text-decoration: none;

  background-image: linear-gradient(180deg, transparent 65%, rgba($color-brand, .2) 0);
  background-repeat: no-repeat;
  background-size: 0 100%;

  &:hover, %fixed-highlight {
    background-size: 100% 100%;
  }
}
